<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
               <label class="form-label" for="name">title:</label>
                <input class="form-control" type="text" id="name" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>  
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="location">location:</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>  
             </div>
                               
             <!-- <div class="mb-3">
                <labellass="form- clabel" for="image">Image Url:</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required> 
                <div class="valid-feedback">
                    Looks good!
                </div> 
             </div> -->

             <div class="mb-3">
                <label class="form-label" for="image">Campground Price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs</span>
                    <input type="text" class="form-control" placeholder="00" aria-label="price" id="price" aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> 
             </div> 

            <div class="mb-3">
                <label for="description" class="form-label">Descriptiom</label>
                <textarea class="form-control" id="description" rows="3" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Upload Images:</label>
                <input type="file" class="form-control" name="image" id="image" multiple>
            </div> 

            <div class="mb-3">
                <button class="btn btn-success" type="submit">Submit</button> 
            </div>
            
        </form> 
        <a href="/campgrounds">all campgrounds</a>
    </div>
</div>

